.navbar{
    display: flex;
    background: #282f44;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.navbarLeft{
    font-size: 22px;
    margin-left: 10px;
    text-decoration: initial;
    font-weight: 300;
    flex: 1;

}

.navbarCenter img {
    height: auto;
    width: 22px;
}

.navbarCenter a{
    margin: 0 5px;
    cursor: pointer;
}

.navbarCenter{
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbarRight{
    flex:1;
}

@media (max-width:770px){
    .navbarRight{
        flex: 0;
        display: none;
    }
    .navbarCenter{
        justify-content: right;
    }
}