.wrapper{
    display: flex;
    justify-content: center;
}

.resume {
    margin: 50px 0px 50px 0px;
    width: 1176px;
    height: 1057px;
    display: flex;
}

.resumeProfile{
    background-color: #202021b0;
    flex: 5;
    border-radius: 40px 0 0 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resumeExperience {
    background-color: #293c9a71;
    flex: 7;
    border-radius: 0 40px 40px 0;
}

.profileImage {
    width: auto;
    height: 143px;
    border-radius: 50%;
    margin-top: 56px;
}

.profileName {
    margin-top: 13px;
}

.profileOccupation {
    margin-top: 4px;
    font-size: 12px;
}

.qualificationsWrapper {
    width: 432px;
    margin: 39px 30px 0 30px;
}

.qualitication{
    margin-bottom: 16px;
}

.qualiticationTitle {
    display: flex;
    align-items: center;
}

.qualiticationTitle h3 {
    margin-left: 8px;
    font-size: 20px;
}

.qualitication p {
    font-size: 15px;
    margin-top: 5px;
}

.profileNetworks {
    width: 252px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

/* .home{
    height: min-content;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.hoami{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 50px;
    align-items: center;
    border-radius: 50px 0px 0px 50px;
    background: #646464;
    box-shadow:  20px 20px 60px #555555,
                 -20px -20px 60px #737373;
    max-width: 480px;
    flex: 3;
}

.hoamiPhoto{
    border-radius: 50%;
    width: 50%;
}

.hoamiPhrase{
    text-align: center;
    display: flex;
    align-items: center;
}

.whatIDo{
    flex: 6;
    max-height: 100%;
    overflow-y: overlay;
    background: #2c2c2c;
    border-radius: 0px 50px 50px 0px;
}

.experiencesWrapper{
    display: flex;
    flex: 6;
    margin: 0 50px;
    flex-direction: column;
}
.onConstructionWarning{
    text-align: center;
    display: none;
}

@media (min-width:1430px){
    .home{
        margin: 100px;
    }
}

@media (min-width:1200px) and (max-width:1429px){
    .home{
        margin: 70px;
    }

    .hoami h1 {
        font-size: 24px;
    }
}

@media (min-width:965px) and (max-width:1199px){
    .home{
        margin: 30px;
    }
    .hoami{
        padding: 20px;
    }
    .hoami h1 {
        font-size: 24px;
    }
}

@media (max-width:965px){
    .home{
        flex-direction: column;
        margin: 30px;
        align-items: center;
    }
    .experiencesWrapper{
        margin-left: 0;
    }
    .hoami{
        padding: 20px;
        width: 100%;
    }
    .hoami h1 {
        font-size: 24px;
    }
}

@media (max-width:770px){

    .onConstructionWarning{
        display: inherit;
    }
} */