body{
    margin: 0;
    background-color: #646464;
    color: white;
    font-family: Manrope, 'Courier New', Courier, monospace;
}

a {
    text-decoration: none; /* no underline */
    color: inherit;
}